<hr *ngIf="divider" class="border-t border-black/25 mx-4 mt-4 h-4" />
<div class="flex flex-col justify-center items-center p-4 h-24">
  <a class="text-xl font-extrabold mb-4" routerLink="/">🏠🎉 House Party</a>
  <div class="flex items-center gap-4">
    <a routerLink="/notifications">Notifications</a>
    <span class="font-light text-xs">|</span>
    <a routerLink="/messages">Messages</a>
    <span class="font-light text-xs">|</span>
    <a routerLink="/event/create">Create event</a>
  </div>
</div>

<!--
  <hr class="my-4 border-t border-black/25 w-full" />
-->
